<!doctype html>
<html>
<head>
  <title>Ratings</title>
</head>

<body>
    {% if 'user_id' in session %}
        <form action='/logbutton' style='display: inline-block'>
            <input type='submit' name='logout' value='Logout'>
        </form>
    {% else %}
        <form action='/logbutton' style='display: inline-block'>
            <input type='submit' name='logout' value='Login'>
        </form>
    {% endif %}
      <form action='/' style='display: inline-block'>
        <input type='submit' value='Home' style='display: inline-block'>
      </form>

      <form action='/movies' style='display: inline-block'>
        <input type='submit' value='Movies'>
      </form>

      <form action='/users' style='display: inline-block'>
        <input type='submit' value='Users'>
      </form>


  Ratings
  <hr>

  {% block content %} put your content here {% endblock %}

</body>
</html>
